<div ng-class="themeClass">
    <header>{{ welcomeMessage }} V<span id="app-version">0</span></header>
    <div class="scrollable-content-container">
        <div id="message-history">
            <p ng-repeat="msg in userMessages">
                <span ng-show="(msg.type == 'userMessage' || msg.event != 'welcome') && msg.user != '{{ userColor }}'" class="user-{{ msg.user }}">Mr {{ msg.user }}</span>
                <span ng-show="(msg.type == 'userMessage' || msg.event != 'welcome') && msg.user == '{{ userColor }}'" ng-class="userClass">You</span>
                <span ng-show="msg.type == 'userMessage'">: {{ msg.msg }}</span>
                <span ng-show="msg.type == 'userState' && msg.event == 'welcome'">Welcome  </span>
                <span ng-show="msg.type == 'userState' && msg.event == 'welcome'" class="user-{{ msg.user }}">Mr {{ msg.user }}</span>
                <span ng-show="msg.type == 'userState' && msg.event == 'enter' && msg.user != '{{ userColor }}'"> has entered</span>
                <span ng-show="msg.type == 'userState' && msg.event == 'enter' && msg.user == '{{ userColor }}'"> have entered</span>
                <span ng-show="msg.type == 'userState' && msg.event == 'left' && msg.user != '{{ userColor }}'"> has left</span>
                <span ng-show="msg.type == 'userState' && msg.event == 'left' && msg.user == '{{ userColor }}'"> have left</span>
            </p>
        </div>
    </div>
    <footer>
        <form ng-submit="submitMessage()">
            <label for="message-input">Type your message:</label><input id="message-input" ng-model="newMessage">
            <button type="submit">Send</button>
        </form>
    </footer>
</div>